<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>selectedImage</key>
		<string>ahome.png</string>
		<key>image</key>
		<string>home.png</string>
		<key>title</key>
		<string>首页</string>
		<key>name</key>
		<string>ViewController</string>
	</dict>
	<dict>
		<key>selectedImage</key>
		<string>aticket.png</string>
		<key>image</key>
		<string>ticket.png</string>
		<key>title</key>
		<string>购票</string>
		<key>name</key>
		<string>TicketController</string>
	</dict>
	<dict>
		<key>selectedImage</key>
		<string>ashop.png</string>
		<key>image</key>
		<string>shop.png</string>
		<key>title</key>
		<string>商城</string>
		<key>name</key>
		<string>ShopController</string>
	</dict>
	<dict>
		<key>selectedImage</key>
		<string>afind.png</string>
		<key>image</key>
		<string>find.png</string>
		<key>title</key>
		<string>发现</string>
		<key>name</key>
		<string>FindController</string>
	</dict>
	<dict>
		<key>selectedImage</key>
		<string>ame.png</string>
		<key>image</key>
		<string>me.png</string>
		<key>title</key>
		<string>我的</string>
		<key>name</key>
		<string>MeController</string>
	</dict>
</array>
</plist>
